body,
body * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background: rgb(200, 196, 228);
}

img {
  width: 250px;
  height: 300px;
  border: 2px inset #fff;
}
